body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

#calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    background-color: black;
    width: 400px;
    height: 650px;
}


#display-screen{
    margin-top: 30px;
    width: 300px;
    height: 100px;
    padding: 8px;
    background-color: white;
}

#number-grid{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    background-color: greenyellow;
    align-items: space-between;
    justify-content: space-between;
    align-self: flex-start;
    gap: 12px;


}



#decimal{
    flex-grow: 1;
    margin-left: 9px;
}


#number-grid button{
    border-radius: 18px;
    width: 72px;
    height: 72px;
}

#clear{
    width: 80px;   
}