
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
    background-color: black;
    width: 400px;
    height: 650px;
}


.display-screen{
    margin-top: 30px;
    width: 332px;
    height: 100px;
    padding: 8px;
    border-radius: 20px;
    background-color: white;
    font-size: 24px;
}


.buttons{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    min-height: 360px;
    justify-content: center;
}

.left-buttons{
    display: flex;
    flex-wrap: wrap;
    width: 66%;
    align-items: space-between;
    justify-content: space-between;
    align-self: flex-start;
    gap: 12px;
}


.buttons button{
    border-radius: 50%;
    width: 72px;
    height: 72px;
    font-size: large;
    font-weight: bolder;
}

.right-buttons{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    gap:12px;
}

.bottom{
    display: flex;
    gap: 24px;
    min-width: 100%;
}

